.remember {border:2px solid orange;margin: 40px 0 40px 0;}
.remember h3 {background:orange;color:white;padding-bottom:10px; font-weight: bold;}
.remember p {color:black;padding:10px; font-size: 18px;margin: 20px auto 20px 20%;}

.remember:before{

 content: "Remember";
 font-weight: bold;
 font-size: 20px;
 color: black;
 background-color: orange;
 padding: 5px 25px 5px 25px;
 margin-left: 5%;
 margin-top: -40px;
 display: inline-table;
}

p{
 font-size: 1.75em;
 line-height: 1.5em;
 margin-top: 20px;
 margin-bottom: 50px;
}

.container-fluid.main-container{
  max-width: 1500px !important;
}

ul li {
 font-size: 1.75em;
}
ol li {
 font-size: 1.75em;
}
pre.r{
 font-size: 1.75em !important;
}